@define-color text            #eff3f7;
@define-color background      #444444;
@define-color background-alt  alpha(#777777, .4);
@define-color background-sec  #777777;
@define-color selected        #777777;
@define-color hover           alpha(@selected, .4);
@define-color urgent          #444444;

* {
  color:        @text;
  all:          unset;
  font-size:    14px;
  font-family:  "Futura Std";
  transition:   linear 200ms;

}

/* CONTROL CENTER ------------------------------------------------------------------------ */

.control-center {
  background:     alpha(@background, .6);
  border-radius:  0.8em;
  border:         1px solid @selected;
  box-shadow:     0 0 0 0 rgba(0,0,0,.6);
  padding:        12px;
  margin:         18px;
}

/* Notifications  */
.control-center .notification-row .notification-background,
.control-center .notification-row .notification-background .notification.critical {
  background-color: @background-alt;
  border-radius:    8px;
  margin:           4px 0px;
  padding:          0px;
}

.control-center .notification-row .notification-background .notification.critical {
  color: @urgent;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin:   6px;
  padding:  8px 6px 2px 2px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.0em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  background:     alpha(@selected, .6);
  color:          @text;
  border-radius:  0px 0px 8px 8px;
  margin:         0px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background: @selected;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @selected;
}

/* Buttons */

.control-center .notification-row .notification-background .close-button {
  background:     transparent;
  border-radius:  10px;
  color:          @text;
  margin:         0px;
  padding:        4px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: @selected;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: @selected;
}

/* Sliders */

scale {
    margin:   0px 1em 0px 1em;
    padding:  0px;
}

scale trough {
  background-color: @background-sec;
  border-radius:    0.8em;
}

scale highlight {
  background-color: #90D5FF;
  border-radius:    0.8em;
  min-height:       1em;
}

scale slider {
  margin:           -10px;
  padding:          0px;
  border-radius:    2em;
  min-width:        1em;
  min-height:       1em;
  background-color: transparent;
}

/* Notifications expanded-group */

.notification-group {
  margin: 2px 8px 2px 8px;

}
.notification-group-headers {
  font-weight:    bold;
  font-size:      1.25rem;
  color:          @text;
  letter-spacing: 2px;
}

.notification-group-icon {
  color: @text;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background:     transparent;
  color:          @text;
  margin:         4px; 
  border-radius:  6px;
  padding:        4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @hover;
}  

/* WIDGETS --------------------------------------------------------------------------- */

  /* Notification clear button */
.widget-title {
  font-size:  1.2em;
  margin:     6px;
}

.widget-title button {
  background:     transparent;
  padding:        4px 1.35em;
}

.widget-title button:hover {
  background-color: transparent;
}

.widget-title button:active {
  background-color: transparent;
}

  /* Do not disturb */
.widget-dnd {
  margin:     6px;
  font-size:  1.2rem;
}

.widget-dnd > switch {
  background:     @background-alt;
  font-size:      initial;
  border-radius:  0.8em;
  box-shadow:     none;
  padding:        2px;
  min-height:     1.2em;
  min-width:      3.0em;
}

.widget-dnd > switch:hover {
  background: @hover;
}

.widget-dnd > switch:checked {
  background: @hover;
}

.widget-dnd > switch:checked:hover {
  background: @hover;
}

.widget-dnd > switch slider {
  background:     @text;
  border-radius:  0.8em;
  min-width:      1.6em;
}

  /* Music player */
.widget-mpris {
    background:     transparent;
    border-radius:  16px;
    color:          @text;
    margin:         1px;
}

  /* NOTE: Background need *opacity 1* otherwise will turn into the album art blurred  */
.widget-mpris-player {
    background-color: alpha(@background-sec, 0.6);
    border-radius:    22px;
    padding:          6px 14px;
    margin:           6px;
}

.widget-mpris > box {
  margin: -5px 0px -10px 0px;
}

.widget-mpris > box > button {
  color:          @text;
  border-radius:  20px;
}
 
.widget-mpris button {
  color: alpha(@text, .6);
}

.widget-mpris button:hover {
  color: @text;
}

/* Player button box */
.widget-mpris > box > carousel > widget > box > box:nth-child(2) {
  margin: 5px 0px -0.1em 11.5em;
}

/* Player buttons */
.widget-mpris > box > carousel > widget > box > box:nth-child(2) > button {
  border-radius: 4px;
}
.widget-mpris > box > carousel > widget > box > box:nth-child(2) > button:hover {
  background: alpha(currentColor, 0.1);
}

carouselindicatordots {
  opacity: 0;
}

.widget-mpris-album-art {
  border-radius: 0.8em;
}
 
.widget-mpris-title {
  font-weight:  bold;
  font-size:    1rem;
}
 
.widget-mpris-subtitle {
  font-size: 0.8rem;
}

.widget-mpris-player > box > image {
  margin: 0px 0px -2.5em 0px;
}

/* Volume */
.widget-volume {
  background:     transparent;
  color:          @text;
  padding:        4px;
  margin:         6px;
  border-radius:  6px;
}
