@define-color text            #eff3f7;
@define-color background      #444444;
@define-color background-alt  alpha(#777777, .4);
@define-color background-sec  #777777;
@define-color selected        #777777;
@define-color hover           alpha(@selected, .4);
@define-color urgent          #444444;

* {
  color:            @text;

  all: unset;
  font-size: 14px;
  font-family: "Noto Sans 11";
  transition: 200ms;

}

/* CONTROL CENTER ------------------------------------------------------------------------ */

.control-center {
  background: alpha(@background, .1);
  border-radius: 24px;
  border: 1px solid @selected;
  box-shadow: 0 0 0 0 rgba(0,0,0,.6);
  padding: 12px;
  margin: 18px;
}

/* Notifications  */
.control-center .notification-row .notification-background,
.control-center .notification-row .notification-background .notification.critical {
  background-color: @background-alt;
  border-radius: 8px;
  margin: 4px 0px;
  padding: 0px;
}

.control-center .notification-row .notification-background .notification.critical {
  color: @urgent;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 6px;
  padding: 8px 6px 2px 2px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.0em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  background: alpha(@selected, .6);
  color: @text;
  border-radius: 0px 0px 8px 8px;
  margin: 0px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background: @selected;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @selected;
}

/* Buttons */

.control-center .notification-row .notification-background .close-button {
  background: transparent;
  border-radius: 10px;
  color: @text;
  margin: 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: @selected;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: @selected;
}

/* Sliders */

scale {
    margin: 0px 1em 0px 1em;
    padding: 0px;
}

scale trough {
  background-color: @background-sec;
  border-radius: .8rem;
}

scale highlight {
  background-color: #90D5FF;
  border-radius: .8rem;
  min-height: 1rem;
}

scale slider {
  margin: -10px;
  padding: 0px;
  border-radius: 2em;
  min-width: 1rem;
  min-height: 1rem;
  background-color: transparent;
}

/* Notifications expanded-group */

.notification-group {
  margin: 2px 8px 2px 8px;

}
.notification-group-headers {
  font-weight: bold;
  font-size: 1.25rem;
  color: @text;
  letter-spacing: 2px;
}

.notification-group-icon {
  color: @text;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  color: @text;
  margin: 4px; 
  border-radius: 6px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @hover;
}  

/* WIDGETS --------------------------------------------------------------------------- */

  /* Notification clear button */
.widget-title {
  font-size: 1.2em;
  margin: 6px;
}

.widget-title button {
  background: @background-alt;
  border-radius: 6px;
  padding: 4px 16px;
}

.widget-title button:hover {
  background-color: @hover;
}

.widget-title button:active {
  background-color: @selected;
}

  /* Do not disturb */
.widget-dnd {
  margin: 6px;
  font-size: 1.2rem;
}

.widget-dnd > switch {
  background: @background-alt;
  font-size: initial;
  border-radius: 8px;
  box-shadow: none;
  padding: 2px;
  min-height: 1.2em;
  min-width: 3.0em;
}

.widget-dnd > switch:hover {
  background: @hover;
}

.widget-dnd > switch:checked {
  background: @hover;
}

.widget-dnd > switch:checked:hover {
  background: @hover;
}

.widget-dnd > switch slider {
  background: @text;
  border-radius: 6px;
}

  /* Music player */
.widget-mpris {
    background: transparent;
    border-radius: 16px;
    color: @text;
    margin:  1px;
}

  /* NOTE: Background need *opacity 1* otherwise will turn into the album art blurred  */
.widget-mpris-player {
    background-color: @background-sec;
    border-radius: 22px;
    padding: 6px 14px;
    margin: 6px;
}

.widget-mpris > box > button {
  color: @text;
  border-radius: 20px;
}
 
.widget-mpris button {
  color: alpha(@text, .6);
}

.widget-mpris button:hover {
  color: @text;
}

.widget-mpris-album-art {
  border-radius: 16px;
}
 
.widget-mpris-title {
    font-weight: 700;
    font-size: 1rem;
}
 
.widget-mpris-subtitle {
    font-weight: 500;
    font-size: 0.8rem;
}

/* Volume */
.widget-volume {
  background: transparent;
  color: @text;
  padding: 4px;
  margin: 6px;
  border-radius: 6px;
}
