$color-text: #eff3f7;
$color-background-alt: #444444;
$color-selected: #444444;
$color-hover: #444444;
$color-urgent  #444444;

$color-main: #444444;
$color-bg: alpha(@main-color, 0.8);

* {
  color: $color-text;

  all: unset;
  transition: 200ms;
}

.notification-row {
  outline: none;
  margin: 0;
  padding: 0px;
}

.floating-notifications.background .notification-row .notification-background {
  background: $color-bg;
  border: 2px solid $color-bg;
  border-radius: 6px;
  margin: 16px;
  padding: 0;
  transition: background 0.15s ease-in-out;
}

.floating-notifications.background .notification-row .notification-background .notification {
  border-radius: 10px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  border: 2px solid #a7091b;
  border-radius: 4px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical .summary {
  color: #a7091b;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 10px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 10px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 8px;
  background-color: $color-bg;
  margin: 6px;
  border: 1px solid transparent;
  transition: background 0.15s ease-in-out;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background-color: $color-hover;
  border: 1px solid $color-selected;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: $color-selected;
  color: $color-background-alt;
}

.image {
  margin: 0px 12px 0px 0px;
  border-radius: 5px;
}

.summary {
  font-family: Noto Sans;
  font-weight: bold;
  font-size: 18px;
  color: $color-main;
  padding-bottom: 3px;
}

.body {
  font-size: 14px;
  font-family: Noto Sans;
  font-weight: bold;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 6px;
  padding: 2px;
  border-radius: 6px;
  background-color: $color-bg;
  border: 1px solid $color-bg;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: $color-selected;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: $color-selected;
  color: $color-background;
}

.notification.critical progress {
  background-color: $color-selected;
}

.notification.low progress,
.notification.normal progress {
  background-color: $color-selected;
}
