* {
  color: #444444;
  border: none;
  margin: none;
}

window {
  border-radius: 15px;
  border: none;
  font-size: 24px;
  font-family: "Futura Std";

  color: #444444;
  background-color: alpha(#efefef, 0.6);
}

#outer-box {
  margin-bottom: 15px;
}

#inner-box {
  padding: 0px 16px 0px 16px;
}

#input {
  border: none;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 15px;
  background-color: transparent;
  padding: 15px 0px 6px 0px;
  margin: 0px 20px 15px 20px;
  border-bottom: 2px solid #666666;
}

#input:focus {
  box-shadow: none;
}

.entry {
  padding: 8px 0px 8px 4px;
}

#entry {
  border-radius: 15px;
  transition: all 0.15s ease-in-out;
}

#entry:focus {
  box-shadow: none;
  outline: none;
}

#entry:selected {
  padding-left: 20px;
  background-color: alpha(#8f8f8f, 0.6);
  transition: all 0.3s ease-in-out;
}

#img {
  margin-left: 10px;
  margin-right: 20px;
}

#input > image.left {
  -gtk-icon-transform: scale(0);
}
